.rm1{
	 position: absolute ;

    
    top: 400px;
    
}
.rm2{
	
    left: 5px; 
    color: black;
    font-size: 25px;
	position: absolute;
   
    color: black;
   
    text-align: center;
    border-radius: 20px;
    padding: -2rem;
    background: rgba(255, 255, 255, 0.8);
    font-family: monospace;
}




.guak {
	border-radius: 5px;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	
	color: black;
	position: absolute;
	top: 350px;
font-family: monospace;
}



.salsa1{

	position: absolute;

	top: 0px;
	left: 300px;
	
}
.salsa2{

	left: 5px; 
    color: black;
    font-size: 25px;
	position: absolute;
   
    color: black;
   
    text-align: center;
    border-radius: 20px;
    padding: -2rem;
    background: rgba(255, 255, 255, 0.8);

  	font-family: monospace;
}

.salo{
	border-radius: 5px;
	padding: 1rem;
	background: rgba(255, 255, 255, 0.8);
	font-size: 30px;
	
	color: black;
	position: absolute;
	top: 350px;
	font-family: monospace;
}